
td img {
  box-sizing: content-box;
}

.simple-tooltip-container {
  position: relative
}

.simple-tooltip-content {
  display: none;
  position: absolute;
  top: 75%;
  right: 10%;
  width: 200px;
  background-color: #000;
  z-index: 99;
  padding: .75rem;
  flex-direction: column;
  border: 1px solid #555;
  white-space: normal
}

.simple-tooltip-content:hover,.simple-tooltip-visible-content:hover+.simple-tooltip-content {
  display: flex
}

.not-locked-message { display:none; font-size:10px; color:#a0a0a0 !important; white-space:nowrap; margin-left:10px; }

.boss-icon { width:24px; height:24px; border:1px solid #555555; margin-right:3px; vertical-align:-9px }

.zone-boss-cell { font-size:14px; font-weight:bold }

th, td { white-space: nowrap }

.tiny-icon, .partner-icon { width:18px !important; height:18px !important; border:1px solid #555555; margin:0 2px; vertical-align:-6px;--size:18 !important; }
.partner-icon { margin-right:4px !important }

.artifact {
    color: #e5cc80!important
}

.legendary {
    color: #ff8000!important
}

.astounding {
    color: #e268a8!important
}

.magnificent {
    color: #be8200!important
}

.epic {
    color: #a335ee!important
}

.rare {
    color: #0070ff!important
}

.uncommon {
    color: #1eff00!important
}

.uncommon-muted {
    color: #48c238!important
}

.common {
    color: #666!important
}

.common-white {
    color: #e1f2f5!important
}
